<h1>Workouts</h1>

<ul>
  {{#each}}
    <li {{bind-attr class="isEditing:editing"}} {{action "editWorkout" this on="doubleClick"}}>
      {{#if isEditing}}
        {{view Ember.TextField class='edit' action="updateWorkout"}}
      {{else}}
        {{#link-to 'workout' this}} {{title}} {{/link-to}}
      {{/if}}
    </li>
  {{/each}}
  <li>
    {{newWorkoutName}}
  </li>
</ul>

<br>

<form>
  {{view Ember.TextField valueBinding="newWorkoutName"}}
  <input type="submit" value="Add" {{action createWorkout}}>
</form>

{{outlet}}
