<h1>Workouts</h1>

<ul>
  {{#each}}
  <li>{{#link-to 'workout' this}} {{title}} {{/link-to}}</li>
  {{/each}}
  <li>
    {{newWorkoutName}}
  </li>
</ul>

<br>
<form>
  {{view Ember.TextField valueBinding="newWorkoutName"}}
  <input type="submit" value="Add" {{action addWorkout}}>
</form>

{{outlet}}
